* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* ====Sidebar==== */
.sidebar {
    left: 0;
    top: 0;
    width: 78px;
    height: 100%;
    padding: 6px 14px;
    z-index: 99;
    position: fixed;
    background: #1B1A55;
    transition: all 0.7s ease;
}
.sidebar.open {
    width: 250px;
}
.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}
.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.7s ease;
}
.logo-details img {
    width: 50px;
}
.sidebar .logo-details .logo-name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.7s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo-name {
    opacity: 1;
}
.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
    text-align: right;
}
.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}
.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    top: 50%;
    transition: all 0.4s ease;
    transform: translateY(-50%);
}
.sidebar.open li .tooltip {
    display: none;
}
.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.7s ease;
}
.sidebar li a:hover {
    background: #466EB4;
    cursor: pointer;
}
.sidebar li a .links-name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.open li a .links-name {
    opacity: 1;
    pointer-events: auto;
}
.sidebar li a:hover .links-name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
    font-weight: bold;
}
.sidebar li a:hover .links-name {
    font-size: 17px;
}
.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    border-radius: 12px;
}
.sidebar li.log-out {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #466EB4;
    transition: all 0.7s ease;
    overflow: hidden;
}
.sidebar.open li.log-out {
    width: 250px;
    background: #1B1A55;
}
.sidebar .log-out #log-out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #121139;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.7s ease;
}
.sidebar .log-out #log-out:hover,
.sidebar li.log-out:hover {
    font-size: 28px;
    background: #466EB4;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.sidebar.open li.log-out i {
    color: #fff;
}
.sidebar.open li.log-out i:hover {
    color: #1B1A55;
}
.sidebar.open .log-out #log-out {
    width: 250px;
    background: #121139;
}
.sidebar.open .log-out #log-out:hover {
    width: 250px;
    background: #466EB4;
}

/* ====Home Section==== */
.home-section{
    position: relative;
    z-index: 2;
    top: 0;
    left: 78px;
    min-height: 100vh;
    width: calc(100% - 78px);
    background: #BEDBED;
    transition: all 0.7s ease;
}
.sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
}

/* ___Header Section___ */
.header{
    height: 10vh;
    padding: 0px 30px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ___Search___ */
.search form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input,
.search button {
    height: 50px;
    padding: 10px 10px;
    border: none;
    background: #DBE9F2;
}
.search input {
    width: 700px;
    font-size: 17px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.search input:active,
.search input:focus,
.search input:hover {
    outline: none;
    background: #fff;
}
.search button {
    width: 50px;
    font-size: 19px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.search button:hover {
    background: #fff;
    cursor: pointer;
}
.search button:hover > i {
    font-weight: bold;
    font-size: 25px;
}

/* ___Account___ */
.profile-details {
    height: 60px;
    width: 60px;
}
.profile-details img {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    padding: 5px 5px;
}
.profile-details:hover {
    border-radius: 100px;
    background-color: #DBE9F2;
}
.form-account {
    position: absolute;
    top: 11vh;
    right: 30px;
    z-index: 100;
    border: 5px solid #BEDBED;
    border-radius: 20px;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    scale: 0;
    transition: all 0.3s;
    transform-origin: 93% top;
    background: #DBE9F2;
    box-shadow: 0px 16px 20px 0px rgba(0, 0, 0, 0.5);
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.info img {
    height: 200px;
    width: 150px;
    border: 1px solid;
    border-radius: 10px
}
.main-info input {
    display: flex;
    border: none;
    background: #DBE9F2;
    width: 250px;
}
.main-info input:hover,
.main-info input:focus,
.main-info input:active {
    outline: none;
}
.main-info .title-form{
    margin-bottom: 30px;
    font-size: 24px;
}
.main-info .full-name {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
}
.main-info .full-email {
    font-size: 20px;
    border-bottom: 1px solid;
}
.recover-key {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.recover-key button {
    padding: 10px 50px;
    border-radius: 20px;
    border: 1px solid #8b8b8b;
    background: #DBE9F2;
}
.recover-key button:hover,
.recover-key button:active {
    font-size: 15px;
    font-weight: bold;
    background: #BEDBED;
    border: 1px solid #466EB4;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s ease;
}
.profile-details.active ~ .form-account {
    opacity: 1;
    visibility: visible;
    scale: 1;
}

/* ___Recover Key___ */
.form-recover-key {
    background: #DBE9F2;
    z-index: 101;
    border: 5px solid #BEDBED;
    position: absolute;
    top: 16vh;
    right: 400px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    border-radius: 20px;
    box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.info-recover-key img {
    width: 50px;
}
.close-recover-key {
    display: flex;
    justify-content: flex-end;
    margin-right: -25px;
    margin-top: -10px
}
.head-recover-key {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.head-recover-key h3 {
    font-size: 24px;
}
.info-recover-key {
    padding: 15px 30px 15px 30px;
    font-size: 24px;
}
.info-recover-key div input {
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #BEDBED;
    background: #DBE9F2;
}
.info-recover-key div input:hover,
.info-recover-key div input:focus,
.info-recover-key div input:active {
    outline: none;
    border-color: #466EB4;
}
.button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-submit button {
    padding: 10px 30px;
    margin-top: 10px;
    background: #DBE9F2;
    border-radius: 20px;
    border: 1px solid #8b8b8b;
}
.button-submit button:hover {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background: #BEDBED;
    transform: scale(1.1);
    transition: transform 0.1s ease;
}
.recover-key:active ~ .form-recover-key{
    opacity: 1;
    visibility: visible;
    scale: 1;
}

/* ====Content====*/

/* ___Table___ */
table {
    border: 1px solid #BEDBED;
    margin: 0px 10px 0px 10px ;
    width: calc(100% - 20px);
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #BEDBED;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #DBE9F2;
    font-size: 18px;
}
.col-checkbox{
    width: 1%;
}
.col-trash {
    text-align: center;
}
.col-trash-1,
.col-trash-2,
.col-trash-3 {
    width: 33%;
}
.col-trash a {
    text-decoration: none;
}
.col-action {
    width: 120px;
    text-align: center;
}
.decode,
.see {
    text-align: center;
}
.decode i:hover,
.see i:hover {
    transform: scale(1.8);
    transition: transform 0.1s ease;
    color: #466EB4;
}
.pagination-controls {
    margin-top: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
    position: fixed;
    bottom: 5px
}
.pagination-controls .page-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}
.pagination-controls .page-button:hover {
    background-color: #ddd;
}
.pagination-controls .page-button:focus {
    outline: none;
}

/* ___Form Mail Received___ */
.form-mail-received {
    position: absolute;
    background: #fff;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 90vh;
    top: 10vh;
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    scale: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.form-mail-received.active {
    opacity: 1;
    visibility: visible;
    scale: 1;
}
.head-received,
.head-send,
.head-trash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 50px;
}
.mail-received,
.mail-send,
.mail-trash {
    font-size: 30px;
    font-weight: 600;
}
.head-icon {
    display: flex;
    gap: 10px;
}
.head-icon i {
    height: 40px;
    min-width: 40px;
    font-size: 22px;
    line-height: 40px;
    cursor: pointer;
}
.head-icon #delete-icon-1,
.head-icon #delete-icon-2,
.head-icon #delete-icon-3 {
    display: none;
    text-align: center;
}
.head-icon #delete-icon-1:hover,
.head-icon #delete-icon-2:hover,
.head-icon #delete-icon-3:hover {
    background: red;
    border-radius: 20px;
    color: #fff;
    font-size: 24px;
}

/* ___Form Mail Send___ */
.form-mail-send {
    position: absolute;
    background: #fff;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 90vh;
    top: 10vh;
    z-index: 91;
    opacity: 0;
    visibility: hidden;
    scale: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.form-mail-send.active {
    opacity: 1;
    visibility: visible;
    scale: 1;
}

/* ___Form Mail Trash___ */
.form-trash-mail {
    position: absolute;
    background: #fff;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 90vh;
    top: 10vh;
    z-index: 92;
    opacity: 0;
    visibility: hidden;
    scale: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.form-trash-mail.active {
    opacity: 1;
    visibility: visible;
    scale: 1;
}

/*___Thông báo của việc gửi mail___*/
.alert {
    position: absolute;
    z-index: 98;
    right: 0px; /* Ẩn hoàn toàn ngoài màn hình */
    margin-top: 10px;
    padding: 10px 15px;
    background: #DBE9F2;
    border: 3px solid #BEDBED;
    border-radius: 10px;
    width: auto;
    opacity: 0; /* Ẩn hoàn toàn */
    animation: slide-in 0.5s forwards, fade-out 0.5s 4.5s forwards;
}

@keyframes slide-in {
    from {
        right: 0px;
        opacity: 0;
    }
    to {
        right: 20px;
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}


/* ___Form Create maill___ */
.form-create-mail {
    border: 2px solid #BEDBED;
    width: 40%;
    height: 80vh;
    background: #fff;
    position: absolute;
    right: 70px;
    bottom: 0;
    z-index: 97;
    opacity: 0;
    visibility: hidden;
    scale: 0;
    transition: all 0.3s;
    transform-origin: 93% bottom;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 16px 20px 0px rgba(0, 0, 0, 0.5);
}
.form-create-mail.active {
    opacity: 1;
    visibility: visible;
    scale: 1;
}
.head-create-mail {
    background: #DBE9F2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
}
.title-head-create-mail {
    font-size: 24px;
    font-weight: bold;
}
.create-mail-icon {
    font-size: 20px;
    cursor: pointer;
}
.create-mail-icon:hover {
    height: 20px;
    color: red;
    border-radius: 100%;
    text-align: center;
}
.form-control {
    display: flex;
    width: calc(100% - 30px);
    margin-left: 15px;
    border: none;
    border-bottom: 2px solid #DBE9F2;
    padding: 10px 0px;
    font-weight: 400;
    font-size: 16px;
    transform: .2s;
}
.form-control:active,
.form-control:focus,
.form-control:hover {
    outline: none;
    border-bottom-color: #466EB4;
}
.form-control-main {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 10px;
    height: 50vh;
    font-weight: 400;
    font-size: 16px;
    overflow: auto;
    white-space: pre-wrap; /* Đảm bảo xuống dòng và bảo toàn khoảng trắng */
    word-wrap: break-word; /* Tự động xuống dòng khi đạt đến chiều rộng tối đa */
}
.form-control-main:active,
.form-control-main:focus,
.form-control-main:hover {
    outline: none;
}
.footer-create-mail {
    height: 60px;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.footer-create-mail button {
    padding: 10px 20px;
    width: 100px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: #DBE9F2;
}
.footer-create-mail button:hover {
    background: #466EB4;
    font-size: 20px;
    color: #fff;
}
.footer-create-mail i {
    font-size: 24px;
    cursor: pointer;
}
.footer-create-mail i:hover {
    transform: scale(1.1);
}
.file-dropdown {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.file-dropdown::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #007BFF transparent transparent transparent;
    pointer-events: none;
    transform: translateY(-50%);
}

/* ___Form Decode___ */
.form-decode {
    position: absolute;
    background: #fff;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 90vh;
    top: 10vh;
    z-index: 96;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.form-decode.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.form-decode h1,
.form-seen h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
}
.form-decode p,
.form-seen p {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 15px;
}
.form-decode span,
.form-seen span {
    font-weight: normal;
}
.form-decode .error,
.form-seen .error {
    font-style: italic;
    color: red; /* Màu đỏ cho thông báo lỗi */
}
.content {
    margin: 0px 15px;
    padding: 5px 5px;
    height: 200px;
    font-size: 18px;
}
.line {
    position: absolute;
    border: 1px solid lightgray;
    width: 200px;
    height: 128px;
    bottom: 21px;
    margin-left: -1px;
}
.form-file {
    position: relative;
    border: 1px solid lightgray;
    margin: 138px 10px 10px 15px;
    width: 200px;
    height: 22px;
    display: flex;
    align-items: flex-end;
}
.form-file a {
    display: inline-block;
    margin-left: 5px;
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}
.corner-triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    transform: rotate(270deg);
    border-left: 20px solid transparent;
    border-top: 20px solid ;
}
.end-decode {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rep-mail,
.footer-icon {
    margin: 10px 15px;
}
.rep-mail {
    display: flex;
    gap: 10px;
}
.btn-rep-email,
.btn-forward-email,
.footer-icon button{
    width: auto;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background: #fff;
    cursor: pointer;
}
.btn-rep:hover,
.btn-forward-email:hover,
.footer-icon button:hover{
    background: #BEDBED;
    border: 1px solid #466EB4;
}

/*_____Form Seen Mail_____*/
.form-seen {
    position: absolute;
    background: #fff;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 90vh;
    top: 10vh;
    z-index: 96;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.form-seen.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
/* ___Reponsive___ */
@media (max-width: 420px) {
    .sidebar li .tooltip{
        display: none;
    }
}