body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 100%;
    text-align: left;
    height: 90%;
    background-image: url('/static/img/bgpjpg.jpg');
    background-size: auto 90%;
    background-position: right center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 5vh;
    padding: 1.5vh 2vh;
    background-color: #3572EF;
    color: white;

}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .menu {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu .btn {
    background-color: #1B1A55;
    width: 90px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    color: white;
    padding: 7px 10px;
}

.hero-section {
    color: #1B1A55;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    height: 90%;
    margin-left: 10vh;
}

.hero-section .text-content {
    max-width: 500px;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 16px;
    margin-bottom: 30px;
}

.hero-section .cta-button {
    background-color: #050C9C;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}