<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page Template</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

    <header>
        <div class="logo">Ứng dụng mã hóa Email</div>
        <div class="menu">
            <a href="{{ url_for('register') }}" class="btn">Đăng ký</a>
             <a href="{{ url_for('login') }}" class="btn">Đăng nhập</a>
        </div>
    </header>

    <div class="container">

        <section class="hero-section">
            <div class="text-content">
                <h1>LANDING PAGE WEBSITE DESIGN TEMPLATE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                <a href="{{ url_for('login') }}" class="cta-button">Get started</a>
            </div>
        </section>
    </div>

</body>
</html>